# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

aws-tpm.json

.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
